.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaciado entre los grupos de formularios */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem; /* Espaciado entre el label y el input */
  font-weight: bold; /* Resaltar el texto del label */
}

.form-group input,
.form-group p-inputNumber {
  padding: 0.5rem;
  font-size: 1rem;
}

.acciones-dialogo {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem; /* Espaciado superior para los botones */
}
