<h2>Carrito de Compras</h2>

<!-- Contenedor principal -->
<div class="contenido">
  <!-- Tabla de ítems en el carrito -->
  <div class="tabla-productos">
    <p-table [value]="carritoProductos" [responsiveLayout]="'scroll'" [scrollable]="true" scrollHeight="60vh">
      <ng-template pTemplate="header">
        <tr>
          <th>Ítem</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr *ngIf="carritoProductos.length > 0">
          <td>
            <div class="producto-detalle" *ngIf="item.producto; else servicioDetalle">
              <img [src]="getImagenUrl(item.producto)" alt="{{ item.producto.nombre }}" />
              <span>{{ item.producto.nombre }}</span>
            </div>
            <ng-template #servicioDetalle>
              <div class="producto-detalle">
                <img [src]="getImagenUrl(item.servicio)" alt="{{ item.servicio.nombre }}" />
                <span>{{ item.servicio.nombre }}</span>
              </div>
            </ng-template>
          </td>
          <td>{{ item.cantidad || 1 }}</td>
          <td>
            {{ item.producto ? item.producto.precio : item.servicio.precio | currency:'USD' }}
          </td>
          <td>{{ item.precioTotal | currency:'USD' }}</td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="eliminarProducto(item.id)"
              label="Eliminar"
            ></button>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>

<!-- Resumen de pago en horizontal -->
<div class="resumen-pago-horizontal">
  <div class="detalle">
    <strong>Total de Ítems:</strong> {{ totalItems }}
  </div>
  <div class="detalle">
    <strong>Total a Pagar:</strong> {{ totalPrecio | currency:'USD' }}
  </div>
  <div class="detalle">
    <button
      pButton
      type="button"
      label="Pagar"
      class="p-button-success"
      [disabled]="carritoProductos.length === 0"
      (click)="pagarCarrito()"
    ></button>
  </div>
</div>

<p-toast></p-toast>
