<div class="tienda-container">
  <div class="producto-card" *ngFor="let producto of productosFiltrados">
    <p-card>
      <ng-template pTemplate="header">
        <img [src]="getImagenUrl(producto)" alt="{{ producto.nombre }}" class="producto-imagen" loading="lazy" />
      </ng-template>
      <ng-template pTemplate="content">
        <h3>{{ producto.nombre }}</h3>
        <p>{{ producto.descripcion }}</p>
        <p>Precio: ${{ producto.precio }}</p>
        <p>Stock: {{ producto.stock }}</p>
        <div class="botones-contenedor">
          <button
            pButton
            type="button"
            label="Agregar al Carrito"
            (click)="agregarAlCarrito(producto)"
            class="p-button-success">
          </button>
          <button
            pButton
            type="button"
            label="Detalles"
            (click)="abrirDialogoDetalles(producto)"
            class="p-button-info">
          </button>
        </div>

      </ng-template>
    </p-card>
  </div>
</div>

<!-- Diálogo para mostrar detalles -->
<p-dialog header="Detalles del Producto"
          [(visible)]="mostrarDialogoDetalles"
          [modal]="true"
          [closable]="true"
          [style]="{width: '800px', borderRadius: '10px'}"
          [contentStyle]="{padding: '20px'}"
          [styleClass]="'dark-dialog'">
  <div class="p-fluid detalles-producto-dialog">
    <div class="p-field imagen-contenedor">
      <img [src]="getImagenUrl(productoSeleccionado)" alt="Imagen del Producto" class="vista-previa-imagen" />
    </div>
    <div class="p-field">
      <label class="dialog-label">Nombre:</label>
      <span class="dialog-value">{{ productoSeleccionado?.nombre }}</span>
    </div>
    <div class="p-field">
      <label class="dialog-label">Descripción:</label>
      <span class="dialog-value">{{ productoSeleccionado?.descripcion }}</span>
    </div>
    <div class="p-field">
      <label class="dialog-label">Precio:</label>
      <span class="dialog-value">${{ productoSeleccionado?.precio }}</span>
    </div>
    <div class="p-field">
      <label class="dialog-label">Stock:</label>
      <span class="dialog-value">{{ productoSeleccionado?.stock }}</span>
    </div>

  </div>

</p-dialog>



<p-toast></p-toast>
