<h2>Gestión de Facturas</h2>
<div style="display: flex; align-items: center; margin-bottom: 10px;">
  <input
    pInputText
    type="text"
    [(ngModel)]="searchValue"
    (input)="dt?.filterGlobal(searchValue, 'contains')"
    placeholder="Buscar por nombre..."
    style="flex: 1; margin-right: 10px;"
  />
  <button
    pButton
    type="button"
    label="Limpiar"
    icon="pi pi-filter-slash"
    class="p-button-outlined"
    (click)="clear(dt)"
  ></button>
</div>

<p-table
  #dt
  [value]="clientes"
  [responsiveLayout]="'scroll'"
  [scrollable]="true"
  [globalFilterFields]="['primerNombre', 'primerApellido', 'usuario.email']">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
    <tr>
      <td>{{ cliente.primerNombre }} {{ cliente.primerApellido }}</td>
      <td>{{ cliente.emailSecundario || cliente.usuario?.email }}</td>
      <td>{{ cliente.telefono }}</td>
      <td>
        <button
          pButton
          icon="pi pi-eye"
          label="Ver Facturas"
          class="p-button-info"
          (click)="verFacturas(cliente.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-toast></p-toast>
